@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 250 250 250;
  --background: 9 11 16;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
